@import "tailwindcss";

@theme {
  --color-primary-green: #00AA5B;
  --color-primary-green-hover: #285430;
  --color-dark-green: #1f422e;
  --color-accent-gold: #c3a052;
  --color-bg-light: #f8fafc;
  
  --animate-slide-down: slide-down 0.2s ease-out forwards;
  
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

button,
[role="button"],
a,
select,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}